@model HomeBudgetApp.WebApp.Models.TransactionDetailsModel

@{
    ViewData["Title"] = "Details";
}
@section Style{
    <link rel="stylesheet" href="~/css/details.css" />
}
<h1 class="mt-2">Transaction Details</h1>
<hr />

<div class="row">
    <div class="payment">
        <div>
            <input hidden asp-for="Transaction.TransactionID" class="form-control" value="@Model.Transaction.TransactionID" />
            <input hidden asp-for="OwnerAccountID" class="form-control" value="@Model.OwnerAccountID" />
            <div class="form-group">
                <label asp-for="Transaction.DateTime" class="control-label">Date</label>
                <input readonly asp-for="Transaction.DateTime" type="text" class="form-control" value="@Model.Transaction.DateTime.Date.ToString("dd/MM/yyyy")" />
                <span asp-validation-for="Transaction.DateTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Transaction.AccountNumber" class="control-label">From account</label>
                <input readonly asp-for="Transaction.AccountNumber" class="form-control" value="@Model.Transaction.AccountNumber" />
                <span asp-validation-for="Transaction.AccountNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Transaction.RecipientAccountNumber" class="control-label">Recipient Account number</label>
                <input readonly asp-for="Transaction.RecipientAccountNumber" class="form-control" value="@Model.Transaction.RecipientAccountNumber" />
                <span asp-validation-for="Transaction.RecipientAccountNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Transaction.RecipientName" class="control-label">Recipient Name</label>
                <input readonly asp-for="Transaction.RecipientName" class="form-control" value="@Model.Transaction.RecipientName" />
                <span asp-validation-for="Transaction.RecipientName" class="text-danger"></span>
            </div>
        </div>
        <div>
            <div class="form-group">
                <label asp-for="Transaction.RecipientAddress" class="control-label">Recipient Address</label>
                <input readonly asp-for="Transaction.RecipientAddress" class="form-control" value="@Model.Transaction.RecipientAddress" />
                <span asp-validation-for="Transaction.RecipientAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Transaction.Purpose" class="control-label"></label>
                <input readonly asp-for="Transaction.Purpose" class="form-control" value="@Model.Transaction.Purpose" />
                <span asp-validation-for="Transaction.Purpose" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Transaction.Model" class="control-label"></label>
                <input readonly asp-for="Transaction.Model" class="form-control" value="@Model.Transaction.Model" />
            </div>
            <div class="form-group">
                <label asp-for="Transaction.ReferenceNumber" class="control-label">Reference Number</label>
                <input readonly asp-for="Transaction.ReferenceNumber" class="form-control" value="@Model.Transaction.ReferenceNumber" />
                <span asp-validation-for="Transaction.ReferenceNumber" class="text-danger"></span>
            </div>
        </div>
        <div class="final-column">
            <div class="form-group">
                <label asp-for="Transaction.Amount" class="control-label"></label>
                <input readonly asp-for="Transaction.Amount" class="form-control" value=@Model.Transaction.Amount />
            </div>
            <div class="">
                @if (Model.Transaction.Categories == null || Model.Transaction.Categories.Count == 0)
                {
                    <h5>This transaction has no categories</h5>
                }
                else
                {
                    <h4>Categories:</h4>
                    foreach (var c in Model.Transaction.Categories)
                    {
                        foreach (var category in Model.Categories)
                        {
                            if (c.CategoryID == category.CategoryID)
                            {
                                <h5>@category.Name</h5>
                            }
                        }

                    }
                }
            </div>
        </div>
    </div>
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
</div>

<div class="mb-5" style="margin-left:840px;">
    <div class="pr-2">
        <i class="bi bi-card-list" style="color:black;"></i>
        @Html.ActionLink("Create a Template", "Create", "Template",
            new HomeBudgetApp.WebApp.Models.TemplateCreateModel
            {
                TransactionID = Model.Transaction.TransactionID
            })
    </div>
    <div class="pr-2">
        <i class="bi bi-gear-fill" style="color:black;"></i>
        @Html.ActionLink("Edit", "ShowEdit", "Transaction", new { id = Model.Transaction.TransactionID, Model.OwnerAccountID })
    </div>

    <a class="delete-btn" onclick="deleteTransaction(@Model.Transaction.TransactionID)" style="color:black;"><i class="bi bi-trash-fill pr-1" style="color:black;"></i>Delete transaction</a>
</div>

<script>
    const deleteTransaction = (id) => {
    if (confirm('Are you sure you want to delete this transaction?')){
        $.ajax({
            url: '@Url.ActionLink("Delete", "Transaction")',
            method: 'post',
            data: { TransactionID: parseInt(id), AccountID: @Model.OwnerAccountID },
            success: function (response) {
                window.location.href = response.redirectToUrl;
            },
            error: function () {
                alert("Error");
            }
        });
    }
}
</script>


