@model HomeBudgetApp.WebApp.Models.TransactionCreateModel

@{
    ViewData["Title"] = "Edit";
}
@section Style{
    <link rel="stylesheet" href="~/css/details.css" />
}
<h1>Edit Payment</h1>
<hr />
<div class="row">
    <form asp-action="Edit" class="payment">
        <div>
            <div class="form-group">
                <label asp-for="AccountNumber" class="control-label"> Account number</label>
                <input readonly asp-for="AccountNumber" class="form-control" value="@Model.AccountNumber" />
                <span asp-validation-for="AccountNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RecipientAccountNumber" class="control-label">Recipient Account Number</label>
                <input readonly asp-for="RecipientAccountNumber" class="form-control" value="@Model.RecipientAccountNumber" />
                <span asp-validation-for="RecipientAccountNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Transaction.DateTime" class="control-label">Date</label>
                <input type="text" readonly asp-for="Transaction.DateTime" class="form-control" value="@Model.Transaction.DateTime" />
                <span asp-validation-for="Transaction.DateTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input hidden asp-for="AccountID" class="form-control" value="@Model.AccountID" />
                <input hidden asp-for="Transaction.TransactionID" class="form-control" value="@Model.Transaction.TransactionID" />
                <input hidden asp-for="Transaction.AccountID" class="form-control" value="@Model.Transaction.AccountID" />
                <input hidden asp-for="Transaction.RecipientID" class="form-control" value="@Model.Transaction.RecipientID" />
            </div>
            <div class="form-group">
                <label asp-for="Transaction.RecipientName" class="control-label"></label>
                <input asp-for="Transaction.RecipientName" class="form-control" value="@Model.Transaction.RecipientName" />
                <span asp-validation-for="Transaction.RecipientName" class="text-danger"></span>
            </div>
        </div>
        <div>
            <div class="form-group">
                <label asp-for="Transaction.RecipientAddress" class="control-label"></label>
                <input asp-for="Transaction.RecipientAddress" class="form-control" value="@Model.Transaction.RecipientAddress" />
                <span asp-validation-for="Transaction.RecipientAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Transaction.Purpose" class="control-label"></label>
                <input asp-for="Transaction.Purpose" class="form-control" value="@Model.Transaction.Purpose" />
                <span asp-validation-for="Transaction.Purpose" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Transaction.Model" class="control-label"></label>
                <input readonly asp-for="Transaction.Model" class="form-control" value="@Model.Transaction.Model" />
                <span asp-validation-for="Transaction.Model" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Transaction.ReferenceNumber" class="control-label">Reference Number</label>
                <input readonly asp-for="Transaction.ReferenceNumber" class="form-control" value="@Model.Transaction.ReferenceNumber" />
                <span asp-validation-for="Transaction.ReferenceNumber" class="text-danger"></span>
            </div>
        </div>
        <div class="final-column">
            <div class="form-group">
                <label asp-for="Transaction.Amount" class="control-label"></label>
                <input readonly asp-for="Transaction.Amount" class="form-control" value="@Model.Transaction.Amount" />
                <span asp-validation-for="Transaction.Amount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Categories:</label>
                @Html.DropDownList("Category", Model.Categories, new { @class = "form-control", @id = "category-select" })
            </div>
            @if (Model.Transaction.Categories == null || Model.Transaction.Categories.Count == 0)
            {
                <button class="btn-dark" id="add-category">Add category</button>
            }
            else
            {
                <button class="btn-dark" id="add-category-edit">Add category</button>
            }
            <table class="table" id="categories">
                <thead>
                    <tr>
                        <th>Num</th>
                        <th>CategoryID</th>
                        <th>Name</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Transaction.Categories)
                    {
                        <tr>
                            <td>@(Model.Transaction.Categories.IndexOf(item)+1)</td>
                            <td>@item.CategoryID</td>
                            @foreach (var category in Model.CategoryList)
                            {
                                if (category.CategoryID == item.CategoryID)
                                {
                                    <td>@category.Name</td>
                                }
                            }
                            <td><a href="javascript:DeleteCategory(@Model.Transaction.TransactionID,@Model.Transaction.AccountID, @Model.Transaction.RecipientID,@item.CategoryID,@item.OwnerID)">Delete</a></td>
                        </tr>
                    }
                </tbody>
            </table>
            <div class="form-group create">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </div>
    </form>
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
</div>
@section Scripts{
    <script>
        $('#add-category').click(function (e) {
            e.preventDefault();

            $.ajax({
                url: '@Url.ActionLink("AddCategory", "Transaction")',
                method: 'post',
                data: {
                    CategoryID: $('#category-select').val(),
                    Num: $('#categories tbody tr').length,
                    OwnerID: @Model.AccountID,
                    },
                success: function (data) {
                    $('#categories tbody').append(data);
                },
                error: function () {
                    alert("Error");
                }
            });
        });
        $('#add-category-edit').click(function (e) {
            e.preventDefault();

            $.ajax({
                url: '@Url.ActionLink("AddCategoryEdit", "Transaction")',
                method: 'post',
                data: {
                    CategoryID: $('#category-select').val(),
                    Num: $('#categories tbody tr').length,
                    OwnerID: @Model.AccountID,
                    TransactionID: @Model.Transaction.TransactionID,
                    AccountID: @Model.Transaction.AccountID,
                    RecipientID: @Model.Transaction.RecipientID,
                    },
                success: function (data) {
                    $('#categories tbody').append(data);
                },
                error: function () {
                    alert("Error");
                }
            });
        });
        function DeleteCategory(PaymentID, AccountID, RecipientID, CategoryID, OwnerID) {
                $.ajax({
                    url: "@Url.Action("DeleteCategory","Transaction")" ,
                    type: 'Delete',
                    data: {
                        id: PaymentID,
                        accountID: AccountID,
                        recipientID: RecipientID,
                        categoryID: CategoryID,
                        ownerID: OwnerID
                    },
                    success: function () {
                        location.reload()
                    },
                    error: function (xhr) {
                        alert('error');
                    }
                });
        }
    </script>
}
