@model HomeBudgetApp.WebApp.Models.TemplateCreateModel

@{
    ViewData["Title"] = "Create";
}
@section Style{
    <link rel="stylesheet" href="~/css/details.css" />
}
<h1 class="mt-2">New template</h1>
<hr />
<div class="row">
    <form asp-action="CreateTemplate" class="payment">
        <div>
            <input hidden asp-for="UserID" class="form-control" value="@Model.UserID" />
            <input hidden asp-for="Transaction.AccountID" class="form-control" value="@Model.Transaction.AccountID" />
            <div class="form-group">
                <label asp-for="Transaction.DateTime" class="control-label">Date</label>
                <input readonly type="datetime" asp-for="Transaction.DateTime" class="form-control" value="@Model.Now" />
                <span asp-validation-for="Transaction.DateTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Transaction.AccountNumber" class="control-label">From account</label>
                @if (Model.Type == "expense")
                {
                    <input readonly asp-for="Transaction.AccountNumber" class="form-control" value="@Model.Transaction.AccountNumber" />
                }
                else
                {
                    <input required asp-for="Transaction.AccountNumber" class="form-control" value="@Model.Transaction.AccountNumber" />
                }
                <span asp-validation-for="Transaction.AccountNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Transaction.RecipientAccountNumber" class="control-label">Recipient Account number</label>
                @if (Model.Type == "expense")
                {
                    <input required asp-for="Transaction.RecipientAccountNumber" class="form-control" value="@Model.Transaction.RecipientAccountNumber" />
                }
                else
                {
                    <input readonly asp-for="Transaction.RecipientAccountNumber" class="form-control" value="@Model.Transaction.RecipientAccountNumber" />
                }
                <span asp-validation-for="Transaction.RecipientAccountNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Transaction.RecipientName" class="control-label">Recipient Name</label>
                <input required asp-for="Transaction.RecipientName" class="form-control" value="@Model.Transaction.RecipientName" />
                <span asp-validation-for="Transaction.RecipientName" class="text-danger"></span>
            </div>
        </div>
        <div>
            <div class="form-group">
                <label asp-for="Transaction.RecipientAddress" class="control-label">Recipient Address</label>
                <input required asp-for="Transaction.RecipientAddress" class="form-control" value="@Model.Transaction.RecipientAddress" />
                <span asp-validation-for="Transaction.RecipientAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Transaction.Purpose" class="control-label"></label>
                <input required asp-for="Transaction.Purpose" class="form-control" value="@Model.Transaction.Purpose" />
                <span asp-validation-for="Transaction.Purpose" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Transaction.Model" class="control-label"></label>
                <input required asp-for="Transaction.Model" class="form-control" value="@Model.Transaction.Model" />
            </div>
            <div class="form-group">
                <label asp-for="Transaction.ReferenceNumber" class="control-label">Reference Number</label>
                <input required asp-for="Transaction.ReferenceNumber" class="form-control" value="@Model.Transaction.ReferenceNumber" />
                <span asp-validation-for="Transaction.ReferenceNumber" class="text-danger"></span>
            </div>
        </div>
        <div class="final-column">
            <div class="form-group">
                <label asp-for="Transaction.Amount" class="control-label"></label>
                <input required type="number" min="0" asp-for="Transaction.Amount" class="form-control" value=@Model.Transaction.Amount />
            </div>
            <div class="form-group">
                <label asp-for="CategoryID" class="control-label">Category</label>
                @Html.DropDownList("CategoryID", Model.Categories, new { @class="custom-select"})
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input required asp-for="Name" class="form-control" />
            </div>
            <div class="form-group d-flex justify-content-end">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </div>
    </form>
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
</div>
