@model HomeBudgetApp.WebApp.Models.UserDetailsModel

@{
    ViewData["Title"] = "Home";
}
@section Style{
    <link rel="stylesheet" href="~/css/details.css" />
}
<h1>About me</h1>

<div class="user-info">
    <img src="~/img/user.png" />
    <dl class="row">
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.Surname)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.Surname)
        </dd>
    </dl>
</div>
<div class="accounts">
    <h1>My Accounts</h1>

    <input type="text" class="input" id="search-value" />
    <button class="btn btn-light" id="search">Search</button>
    <a href="@Url.Action("Create", "Account", new { userID = Model.UserID })">
        <i class="bi bi-journal-plus"> Create account</i>
    </a>
    <table class="table">
        <thead>
            <tr>
                <th>Number</th>
                <th>Type</th>
                <th>Currency</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var a in Model.Accounts)
            {
                <tr>
                    <td>@a.Number</td>
                    <td>@a.AccountType</td>
                    <td>@a.Currency</td>
                    <td>
                        <div class="action-link">
                            @Html.ActionLink("Details", "ShowDetails", "Account", new { id = a.AccountID })
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>

</div>
@section Scripts{
    <script>
    $('#search').click(function (e) {
        e.preventDefault();

        $.ajax({
            url: '@Url.ActionLink("Search", "Account")',
            method: 'post',
            data: {
                Param: $('#search-value').val()
            },
            success: function (data) {
                window.location.href = data.redirectToUrl;
            },
            error: function () {
                alert("Error");
            }
        });
    });
    </script>
}



