@model HomeBudgetApp.WebApp.Models.UserDetailsModel

@{
    ViewData["Title"] = "Home";
}
@section Style{
    <link rel="stylesheet" href="~/css/details.css" />
}
<h1 class="pb-3">About me</h1>

<div class="user-info">
    <img src="~/img/user.png" />
    <dl class="row">
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.Surname)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.Surname)
        </dd>
    </dl>
</div>
<div class="accounts">
    <div class="d-flex align-items-center pb-3">
        <h1>My Accounts</h1>
        <a href="@Url.Action("Create", "Account", new { userID = Model.UserID })" class="pl-5">
            <i class="bi bi-journal-plus"> Create account</i>
        </a>

        <div class="ml-auto">
            <div class="d-flex align-items-center">
                <input type="text" class="form-control mr-2" id="search-value" placeholder="Search accounts.." />
                <i id="search" class="bi bi-search" style="color:black; font-size:20px;"></i>
            </div>
        </div>
    </div>

    <table class="table results mt-3">
        <tbody>
            @foreach (var a in Model.Accounts)
            {
                <tr class="account-rows">
                    <th>
                        @Html.ActionLink(@a.Number, "ShowDetails", "Account", new { id = a.AccountID })
                    </th>
                    <td>@a.AccountType</td>
                    <td>@a.Currency</td>
                </tr>
            }
        </tbody>
    </table>

</div>
@section Scripts{
    <script>
    $('#search').click(function (e) {
        e.preventDefault();

        $.ajax({
            url: '@Url.ActionLink("Search", "Account")',
            method: 'post',
            data: {
                Param: $('#search-value').val()
            },
            success: function (data) {
                window.location.href = data.redirectToUrl;
            },
            error: function () {
                alert("Error");
            }
        });
    });
    </script>
}



