@model IEnumerable<HomeBudgetApp.Domain.User>

@{
    ViewData["Title"] = "Search Users";
}
@section Style{
    <link rel="stylesheet" href="~/css/details.css" />
}

<h1>Search Users</h1>

<div class="search-container">
    <h4>Username:</h4>
    <input id="username" type="text" />
    <button class="btn btn-primary" id="btn-search">Search</button>
</div>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UserID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Surname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Username)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.UserID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Surname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Username)
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts{
    <script>
            $('#btn-search').click(function (e) {
                e.preventDefault();

                $.ajax({
                    url: '@Url.ActionLink("GetUsersByUsername", "User")',
                    method: 'get',
                    data: { Username : $('#username').val() },
                    success: function (response) {
                        window.location.href = response.redirectToUrl;
                    },
                    error: function () {
                    alert("Error");
                    }
                });
            });
    </script>
}